---
Language: Cpp
IndentWidth: 2
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: AcrossComments
AlignConsecutiveBitFields: AcrossComments
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: AcrossComments
AlignConsecutiveTableGenBreakingDAGArgColons: AcrossComments
AlignConsecutiveTableGenCondOperatorColons: AcrossComments
AlignConsecutiveTableGenDefinitionColons: AcrossComments
AlignEscapedNewlines: DontAlign
AlignOperands: AlignAfterOperator
AlignTrailingComments: 
  Kind: Always
  OverEmptyLines: 1
AllowAllArgumentsOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false
AlwaysBreakBeforeMultilineStrings: false
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: Always
FixNamespaceComments: true
KeepEmptyLines:
  AtEndOfFile: true
  AtStartOfBlock: false
  AtStartOfFile: false
MaxEmptyLinesToKeep: 2
PointerAlignment: Right
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: Never
SpacesBeforeTrailingComments: 1
SpacesInAngles: false
SpaceInEmptyParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
